.experiences{
    padding: 80px 0;
    background: $gray;
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
            font-size: 30px;
            line-height: 35px;
        }

        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            h3{
                @include dynamic($primary-font-semibold, $dark-blue, 600, 48px, left, 56px)

            }
            p{
                @include dynamic($primary-font-regular, $dark-gray, 400, 18px, left, 24px)

            }
        }
        .container-items{
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .item{
                background: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 5px 5px 20px rgba($color: #000, $alpha: 0.1);
                transition: all 0.3s;
                
                p{
                @include dynamic($primary-font-regular, $dark-gray-2, 400, 16px, left, 24px);
                    
                    strong{
                        @include dynamic($primary-font-regular, $dark-gray-2, 600, 24px, left, 24px);

                    }
                    
                    
                }
                &:hover{
                    border-left: 4px solid $purple;
                }  
            }
        }
    }
}