header{
    position:fixed;
    width: 100%;
    background: white;
    padding: 20px 0;
    z-index: 50;
    box-shadow: 5px 5px 20px rgba(#000, 0.1);
.container{
    .menu{
   
        display: flex;
        justify-content: space-between;
        // padding: 25px 500px;

        .nav-btn{
            display: none;
            svg{
                width: 25px;
            }


        

            @media (max-width: 768px) {
                display: block;
                align-items: center;
                justify-content: center;
                display: flex;
                gap: 40px;
                color: $purple;
            }
        }
        
       
        .nav1{
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 40px;

            &.show{
                @media (max-width:768px) {
            transform: translateX(0);

                }
            }

            @media (max-width:768px){
             right: 0;
             top: 0;   
            position: absolute;
            width: 250px;          
            background: white;
            min-height: 100vh;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            padding: 80px 20px 20px 30px;
            box-shadow: -5px -5px 20px rgba(#000, 0.1);
            transform: translateX(400px);
            transition: all (0.3s)
            }
            
            }
           
            ul{
               
                display: flex;
                gap: 40px;

                @media (max-width:768px){
                flex-direction: column;
                gap: 20px;
            }

                li{
                    a{
                       @include dynamic($primary-font-regular, $black, 400, 16px, center, 24px );                        
                       color: black;
                        
                    
                    &:hover{
                    border-bottom: 2px solid $purple;
                }

                    }
                }
            }
        
        
           &>a{
                border-radius: 5px;
               
            }

            .close-nav{
                display: none;
                @media (max-width:768px) {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    color: $purple;
                }
                svg{ 
                width: 40px;
                }
            } 
           
        }
    }
    
    
}
 

