$primary-font-regular: 'Montserrat', sans-serif;
$primary-font-medium: 'Montserrat', sans-serif;
$primary-font-semibold:'Montserrat', sans-serif;
$primary-font-bold:'Montserrat', sans-serif;
$gray:#F0F1F3;
$red:#FC5252;
$blue:#0071ce;
$dark-blue-2: #2B384C;
$purple:#A53DFF;
$purple-2: #EDD8FF;
$dark-blue: #132238;
$dark-gray:#87909D;
$dark-gray-2:#424E60; 
$dark-gray-3:#697484;
$black:#000;
$gray-lite: #E6E8EB



// // mixins
// $default-font:$primary-font-regular;
// $default-color: $dark-blue;
// $default-font-size:18px;
// $default-font-weight:400;
// $default-align:left;
// $default-line-height:s